E2E_BASE_URL=http://localhost:3000
E2E_BACKEND_URL=http://localhost:5000/graphql
E2E_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mp
E2E_PARTICIPANT_PID=1
E2E_PARTICIPANT_PASSWORD=test123
E2E_ADMIN_PASSWORD=abc123
E2E_RELIEF_PASSWORD=test123
